[user]
	email = boykush315@gmail.com
	name  = Taichi Kushiro

[core]
	editor = hx
  pager        = delta
  excludesfile = ~/.config/git/ignore
	symlinks = true

[delta]
  line-numbers = true
  side-by-side = true
  theme        = 'nord'

[interactive]
  diffFilter = delta --color-only

[alias]
  co    = checkout
  pi    = cherry-pick
  br    = branch
  fe    = fetch
  pullr = pull --rebase origin master
  pushh = push origin HEAD
  pushf = push -f origin HEAD
